## Recuperación BDD

## Nombre: Joel Molina

## NRC: 8903

## Librerías

In [12]:
import pandas as pd 
import numpy as np 
import sqlalchemy
from sqlalchemy import create_engine

import pyodbc
import sqlite3
from datetime import datetime
import csv

## Leer archivo unconfirmed-transac

In [13]:
DataSet = pd.read_json('unconfirmed-transactions.json')

In [14]:
DataSet

,hash,ver,vin_sz,vout_sz,size,weight,fee,relayed_by,lock_time,tx_index,double_spend,time,block_index,block_height,inputs,out,rbf
0,0da81116cefbe7b6ffe50f268aff60e54d128697321dca...,2,1,2,223,565,330,0.0.0.0,0,540025040595873,False,1645714695,NaN,NaN,"[{'sequence': 4294967295, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 78537, '...",NaN
1,65d6041692cac70e4808be6829d5ef55cd50726afff236...,2,1,2,224,566,330,0.0.0.0,0,8450672181646481,False,1645714694,NaN,NaN,"[{'sequence': 4294967295, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 140245, ...",NaN
2,57dfa973641f85df9a5a2ba793b97fa2abbd2d7c1236ff...,2,1,3,255,693,701,0.0.0.0,724755,6349567405916472,False,1645714694,NaN,NaN,"[{'sequence': 4294967293, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 89710, '...",1.0
3,f1e506d14465d58c7480910f0fe7f46d783d56e553ef24...,2,1,3,256,694,351,0.0.0.0,724755,5272799869882357,False,1645714694,NaN,NaN,"[{'sequence': 4294967293, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 40680, '...",1.0
4,ef9feb3078312177367868ed6624b33049915692546e50...,1,1,2,223,565,609,0.0.0.0,0,4419740363441975,False,1645714694,NaN,NaN,"[{'sequence': 4294967295, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 235797, ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,921a4c01677f7b92323dcd21b46c99f2cc77650e8dc939...,1,1,2,247,658,328,0.0.0.0,0,521671263832471,False,1645714671,NaN,NaN,"[{'sequence': 4294967295, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 280000, ...",NaN
96,8630fd9cdeae84d0b4f9975b03cc36333b2a83f50acad8...,2,2,1,341,713,783,0.0.0.0,0,8166712539021134,False,1645714670,NaN,NaN,"[{'sequence': 4294967295, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 835945, ...",NaN
97,2709f8e0aa352d43623810ebcd1be66bd6e78f8c8f49b3...,1,1,1,192,438,330,0.0.0.0,0,6651557556083685,False,1645714670,NaN,NaN,"[{'sequence': 4294967295, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 773143, ...",NaN
98,015286bdab4e4a5961b3864dce77533b77e5b3d3a849d8...,1,1,1,151,397,371,0.0.0.0,0,4478559112354972,False,1645714670,NaN,NaN,"[{'sequence': 4294967295, 'witness': '01415854...","[{'type': 0, 'spent': False, 'value': 47739, '...",NaN
99,438199f03fe952d865e3402e90c88ec09aa43f997160a0...,2,3,1,489,1305,985,0.0.0.0,0,2769805842758307,False,1645714670,NaN,NaN,"[{'sequence': 4294967295, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 241043, ...",NaN

## Conexión con SQL Server

In [15]:
connection = pyodbc.connect('DRIVER={SQL Server};SERVER=LOCALHOST;DATABASE=BD_Transaccional_Building_Permits;UID='';PWD='' ')

## Contar los datos faltantes del archivo unconfirmed-transac

In [16]:
DatosFaltantes = DataSet.isnull().sum()
DatosFaltantes

hash              0
ver               0
vin_sz            0
vout_sz           0
size              0
weight            0
fee               0
relayed_by        0
lock_time         0
tx_index          0
double_spend      0
time              0
block_index     100
block_height    100
inputs            0
out               0
rbf              76
dtype: int64

## Eliminación de las columnas con mas del 50 % de datos nulos

In [17]:
descartarDatosF= DataSet.drop(['block_index', 'block_height'], axis=1)
descartarDatosF.head()

,hash,ver,vin_sz,vout_sz,size,weight,fee,relayed_by,lock_time,tx_index,double_spend,time,inputs,out,rbf
0,0da81116cefbe7b6ffe50f268aff60e54d128697321dca...,2,1,2,223,565,330,0.0.0.0,0,540025040595873,False,1645714695,"[{'sequence': 4294967295, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 78537, '...",NaN
1,65d6041692cac70e4808be6829d5ef55cd50726afff236...,2,1,2,224,566,330,0.0.0.0,0,8450672181646481,False,1645714694,"[{'sequence': 4294967295, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 140245, ...",NaN
2,57dfa973641f85df9a5a2ba793b97fa2abbd2d7c1236ff...,2,1,3,255,693,701,0.0.0.0,724755,6349567405916472,False,1645714694,"[{'sequence': 4294967293, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 89710, '...",1.0
3,f1e506d14465d58c7480910f0fe7f46d783d56e553ef24...,2,1,3,256,694,351,0.0.0.0,724755,5272799869882357,False,1645714694,"[{'sequence': 4294967293, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 40680, '...",1.0
4,ef9feb3078312177367868ed6624b33049915692546e50...,1,1,2,223,565,609,0.0.0.0,0,4419740363441975,False,1645714694,"[{'sequence': 4294967295, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 235797, ...",NaN

### Columnas del DataSet resultantes de la eliminación

In [18]:
print("Columnas resultantes: %d" % descartarDatosF.shape[1])

Columnas resultantes: 15

### Transformar los datos Nulos

In [19]:
DatosTransformados=descartarDatosF.fillna(method ='ffill')
DatosTransformados

,hash,ver,vin_sz,vout_sz,size,weight,fee,relayed_by,lock_time,tx_index,double_spend,time,inputs,out,rbf
0,0da81116cefbe7b6ffe50f268aff60e54d128697321dca...,2,1,2,223,565,330,0.0.0.0,0,540025040595873,False,1645714695,"[{'sequence': 4294967295, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 78537, '...",NaN
1,65d6041692cac70e4808be6829d5ef55cd50726afff236...,2,1,2,224,566,330,0.0.0.0,0,8450672181646481,False,1645714694,"[{'sequence': 4294967295, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 140245, ...",NaN
2,57dfa973641f85df9a5a2ba793b97fa2abbd2d7c1236ff...,2,1,3,255,693,701,0.0.0.0,724755,6349567405916472,False,1645714694,"[{'sequence': 4294967293, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 89710, '...",1.0
3,f1e506d14465d58c7480910f0fe7f46d783d56e553ef24...,2,1,3,256,694,351,0.0.0.0,724755,5272799869882357,False,1645714694,"[{'sequence': 4294967293, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 40680, '...",1.0
4,ef9feb3078312177367868ed6624b33049915692546e50...,1,1,2,223,565,609,0.0.0.0,0,4419740363441975,False,1645714694,"[{'sequence': 4294967295, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 235797, ...",1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,921a4c01677f7b92323dcd21b46c99f2cc77650e8dc939...,1,1,2,247,658,328,0.0.0.0,0,521671263832471,False,1645714671,"[{'sequence': 4294967295, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 280000, ...",1.0
96,8630fd9cdeae84d0b4f9975b03cc36333b2a83f50acad8...,2,2,1,341,713,783,0.0.0.0,0,8166712539021134,False,1645714670,"[{'sequence': 4294967295, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 835945, ...",1.0
97,2709f8e0aa352d43623810ebcd1be66bd6e78f8c8f49b3...,1,1,1,192,438,330,0.0.0.0,0,6651557556083685,False,1645714670,"[{'sequence': 4294967295, 'witness': '02483045...","[{'type': 0, 'spent': False, 'value': 773143, ...",1.0
98,015286bdab4e4a5961b3864dce77533b77e5b3d3a849d8...,1,1,1,151,397,371,0.0.0.0,0,4478559112354972,False,1645714670,"[{'sequence': 4294967295, 'witness': '01415854...","[{'type': 0, 'spent': False, 'value': 47739, '...",1.0
99,438199f03fe952d865e3402e90c88ec09aa43f997160a0...,2,3,1,489,1305,985,0.0.0.0,0,2769805842758307,False,1645714670,"[{'sequence': 4294967295, 'witness': '02473044...","[{'type': 0, 'spent': False, 'value': 241043, ...",1.0

## Carga de datos

In [21]:
conec = sqlalchemy.create_engine('mssql+pyodbc://JOELMOLINA/BD_Unconfirmed_Transactions?driver=SQL+Server+Native+Client+11.0')
try:
    DatosTransformados.to_sql(name='Unconfirmed_Transactions', con=conec, if_exists='append',index=False)
    print("CARGA EXITOSA")
    
except Exception as ex:
    print("Ocurrió un error: {}".format(ex))

Ocurrió un error: (pyodbc.ProgrammingError) ("A TVP's rows must be Sequence objects.", 'HY000')
[SQL: INSERT INTO [Unconfirmed_Transactions] (hash, ver, vin_sz, vout_sz, size, weight, fee, relayed_by, lock_time, tx_index, double_spend, time, inputs, out, rbf) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: (('0da81116cefbe7b6ffe50f268aff60e54d128697321dca49220e5db70533590f', 2, 1, 2, 223, 565, 330, '0.0.0.0', 0, 540025040595873, 0, 1645714695, [{'sequence': 4294967295, 'witness': '0247304402202d35dbb57a974bcfaedf8d1302fcffb339e5276c9dac0cbd26e57cc57e7fa574022016f6276876750b62272e877ebeca16cf ... (252 characters truncated) ...  540025040595873, 'n': 0}], 'tx_index': 1358168429833340, 'value': 81228, 'addr': 'bc1qee4v336fje5cw3xrtxwuxy9wn6ckjqsy0sy73a', 'n': 101, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 78537, 'spending_outpoints': [], 'n': 0, 'tx_index': 540025040595873, 'script': 'a9142b184cbed65a9835bcb3d2a9e27 ... (133 characters truncated) ...  'n': 1, 'tx_index': 540025040595873, 'script': '00148cdc1bb41b716fabc0425f7cc397866ef57a3491', 'addr': 'bc1q3nwphdqmw9h6hszzta7v89uxdm6h5dy3xhqlt0'}], None), ('65d6041692cac70e4808be6829d5ef55cd50726afff2369e6d8ba4008cbb2ef0', 2, 1, 2, 224, 566, 330, '0.0.0.0', 0, 8450672181646481, 0, 1645714694, [{'sequence': 4294967295, 'witness': '02483045022100bb10c16d048da7446ad813b20c2b7a95c553d48e5f549fbd25cf705e3c6b38b902204bbd0430e95073e192bbd3a099348a ... (254 characters truncated) ...  8450672181646481, 'n': 0}], 'tx_index': 7808529818444630, 'value': 193390, 'addr': 'bc1qzv0vgjgcsk43hutntttafe2vjgpdvfrgw9f536', 'n': 1, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 140245, 'spending_outpoints': [], 'n': 0, 'tx_index': 8450672181646481, 'script': 'a91459695db2b23a329b86b9f0b47 ... (137 characters truncated) ... 'n': 1, 'tx_index': 8450672181646481, 'script': '0014f29d27cd9a373d85a0db8d8430aac15ad7f09b3b', 'addr': 'bc1q72wj0nv6xu7ctgxm3kzrp2kptttlpxemqe30t0'}], None), ('57dfa973641f85df9a5a2ba793b97fa2abbd2d7c1236ffcb43c009a8ed2e77b4', 2, 1, 3, 255, 693, 701, '0.0.0.0', 724755, 6349567405916472, 0, 1645714694, [{'sequence': 4294967293, 'witness': '0247304402200a888a7a051ad9f0841665690e16e6e22d168e9e838e2c18bf88257947946c71022037ecbe08a989dc59bd24868482cb37ce ... (252 characters truncated) ...  6349567405916472, 'n': 0}], 'tx_index': 8531148673495393, 'value': 437093, 'addr': 'bc1qqmcsfquuutcu6sgkxkuwedx9pkkrqalewjdjds', 'n': 1, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 89710, 'spending_outpoints': [], 'n': 0, 'tx_index': 6349567405916472, 'script': 'a9149bf558a7256683a10cd8e363b7 ... (353 characters truncated) ... : [], 'n': 2, 'tx_index': 6349567405916472, 'script': 'a9141e322bb99bcfb484d08666a1a3df34a0b9b61eab87', 'addr': '34SgJE7yCwDgys3fVxNruPDFFBHcpAJybh'}], 1.0), ('f1e506d14465d58c7480910f0fe7f46d783d56e553ef243927aa7fba19abdc95', 2, 1, 3, 256, 694, 351, '0.0.0.0', 724755, 5272799869882357, 0, 1645714694, [{'sequence': 4294967293, 'witness': '02483045022100c3b5d55b00a22ef20e7aa8c13488e96a6aeaec870d14d0e474a2276125183c4b02201318d8ec3fd1143fc8b2c55ffbc4aa ... (255 characters truncated) ... 5272799869882357, 'n': 0}], 'tx_index': 2825800219742705, 'value': 6427620, 'addr': 'bc1q07fzzew9hgk38569q870d7lc7pwp7nklze376g', 'n': 1, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 40680, 'spending_outpoints': [], 'n': 0, 'tx_index': 5272799869882357, 'script': 'a914ff5c297594d225a9ce4b7ac5b3 ... (354 characters truncated) ... 'n': 2, 'tx_index': 5272799869882357, 'script': '00147f922165c5ba2d13d34501fcf6fbf8f05c1f4edf', 'addr': 'bc1q07fzzew9hgk38569q870d7lc7pwp7nklze376g'}], 1.0), ('ef9feb3078312177367868ed6624b33049915692546e506855bf39e6f2d79d7d', 1, 1, 2, 223, 565, 609, '0.0.0.0', 0, 4419740363441975, 0, 1645714694, [{'sequence': 4294967295, 'witness': '02473044022031a5d3a879e3032916f52bf3730cde780ffa9a0d611bc6ddb69915539879ce9a02207cad9aff79fcded9d44681419f0e153c ... (251 characters truncated) ... : 4419740363441975, 'n': 0}], 'tx_index': 758677759894917, 'value': 293422, 'addr': 'bc1q8gllpel4jgmy8gqu7y9j4wvynrqpgs50zwwga9', 'n': 0, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 235797, 'spending_outpoints': [], 'n': 0, 'tx_index': 4419740363441975, 'script': '001413d58fb3faa4695443dc548b0 ... (137 characters truncated) ... : [], 'n': 1, 'tx_index': 4419740363441975, 'script': 'a914d6f35d1ace79130aed888c7fcd111de49b23015887', 'addr': '3MHa4oRAT5HjrtzcF6GLKfkfpij9iHoZee'}], 1.0), ('b1479cf95a183ec7c24bcd1a21a1b05622b45be8561694afa1855eeb4979b371', 2, 1, 2, 224, 566, 895, '0.0.0.0', 0, 4000500735110096, 0, 1645714694, [{'sequence': 4294967295, 'witness': '024830450221008442f5111b25880589d94b3a10ef25a121e9bdc81040bb4428bf506522afdc6402201818569a68214057c60e5416a20536 ... (255 characters truncated) ... 4000500735110096, 'n': 0}], 'tx_index': 8799832922395824, 'value': 1013261, 'addr': 'bc1qklueuetgss5ekvlu60x30245gzhs563pccr4xw', 'n': 1, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 291736, 'spending_outpoints': [], 'n': 0, 'tx_index': 4000500735110096, 'script': 'a914a53278831a2d51fb87aed82ee ... (138 characters truncated) ... 'n': 1, 'tx_index': 4000500735110096, 'script': '0014b7f99e656884299b33fcd3cd17aab440af0a6a21', 'addr': 'bc1qklueuetgss5ekvlu60x30245gzhs563pccr4xw'}], 1.0), ('06abc6162e9553e3c3db20369ead8417cf7f08d56f682fe09b004908fcd1dc2e', 1, 1, 2, 404, 854, 654, '0.0.0.0', 0, 1648830420420896, 0, 1645714694, [{'sequence': 4294967295, 'witness': '040047304402205b70d5f53255724b8f79c195aa1269ca1c71bee5b1455c96e4902c3b87d6f7a902203ea4ebb71c3a2de22f8cd926fbaba6 ... (609 characters truncated) ... dex': 1648830420420896, 'n': 0}], 'tx_index': 3564792800456575, 'value': 109327100, 'addr': '3AnEKZhgJZMX3EfrD5UpPu1eAANrsQmomj', 'n': 0, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 109141656, 'spending_outpoints': [], 'n': 0, 'tx_index': 1648830420420896, 'script': 'a914633aeb84c8112084437eea ... (135 characters truncated) ... : [], 'n': 1, 'tx_index': 1648830420420896, 'script': 'a91421571ea0e73cd5672382873794bcd5ae5bbf3abe87', 'addr': '34jJb42iZ5qLHmkk7K4ky1rmC2EUehW9pM'}], 1.0), ('b1fd7604304c23cb1704954a5cff560dcb5e9a03c48dc73ab2e95282e5aead08', 1, 1, 2, 222, 888, 5575, '0.0.0.0', 0, 305345812515421, 0, 1645714694, [{'sequence': 4294967295, 'witness': '', 'script': '47304402205086a264805d4702cd7cac625ea4f477512d2597fe191caf7c30cda8ed0a9df102207c5fb5b2d68c100daea1 ... (247 characters truncated) ... x_index': 305345812515421, 'n': 0}], 'tx_index': 263743914603561, 'value': 1753590, 'addr': '1CvMiQJJ7HrDu9wLvQXBE9UodHBP5uTCWU', 'n': 1, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 168283, 'spending_outpoints': [], 'n': 0, 'tx_index': 305345812515421, 'script': '0014475537b0e5d92baf53b21fc85c ... (141 characters truncated) ... ], 'n': 1, 'tx_index': 305345812515421, 'script': '76a9144dc3ebb588e90bdc6047f4eb62fdcdb3e057aea588ac', 'addr': '186BjanbX8fNiURjQfTb4fnh64b6p3k1tK'}], 1.0)  ... displaying 10 of 100 total bound parameter sets ...  ('015286bdab4e4a5961b3864dce77533b77e5b3d3a849d82aafe1e4fa67ce497f', 1, 1, 1, 151, 397, 371, '0.0.0.0', 0, 4478559112354972, 0, 1645714670, [{'sequence': 4294967295, 'witness': '01415854fa25954e2851a7ef20dd701d27b45716a6a90ac56419fb8522a41e9f22aa1859be9fbf3dc42c92e62f5bf62f3147daa4e2358ffd ... (215 characters truncated) ... 'n': 0}], 'tx_index': 8705542710240032, 'value': 48110, 'addr': 'bc1p4vkrpagzkcvzgq04w3vdwc54efw2mk4pa66g09h0gh5906h5vnkqlgrygz', 'n': 0, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 47739, 'spending_outpoints': [], 'n': 0, 'tx_index': 4478559112354972, 'script': '001433ecdf17a2b260af75b29c406c68d47d5f08c7a2', 'addr': 'bc1qx0kd79azkfs27adjn3qxc6x5040s33aza5gdxy'}], 1.0), ('438199f03fe952d865e3402e90c88ec09aa43f997160a0adc81ed5d56afdb84e', 2, 3, 1, 489, 1305, 985, '0.0.0.0', 0, 2769805842758307, 0, 1645714670, [{'sequence': 4294967295, 'witness': '024730440220279a86d250797e3b18c2cd6699ac46fafed2492632c07aa3e94af19e06d609de02204c04dacdbfb4fa9b8ed105b61e0cf146 ... (1353 characters truncated) ... : 2769805842758307, 'n': 2}], 'tx_index': 1641978734498956, 'value': 48044, 'addr': 'bc1qrd0kz8qu3elv3jnkjr3p7tzf2w8a0t485u72kw', 'n': 0, 'type': 0}}], [{'type': 0, 'spent': False, 'value': 241043, 'spending_outpoints': [], 'n': 0, 'tx_index': 2769805842758307, 'script': 'a9148ef17ead36a3ed5377031fecf01f94ada339c64087', 'addr': '3EiqB8zhwheSiy163v1USA5uiTmZu8bvXb'}], 1.0))]
(Background on this error at: https://sqlalche.me/e/14/f405)